.card {
    height:290px ;
    width: 220px;
}
.card-top{
    height: 160px;
    width: fit-content;
}
.badge{
    float: right;
    height: 20px;
    text-align: justify;
}
.btn{
    width:150px;
}
img{
    height: 160px;
    width: 220px;
}